**/.DS_Store
**/.bundle
**/vendor
**/_site
**/Gemfile.lock
**/_config.yml
**/.ipynb_checkpoints
**/.venv
/.idea
**/__pycache__
/tasks/task1/vtss/0_00000.vts
/tasks/task1/vtss/0_00001.vts
/tasks/task1/vtss/0_00002.vts
/tasks/task1/vtss/0_00003.vts
/tasks/task1/vtss/0_00004.vts
/tasks/task1/vtss/1_00000.vts
/tasks/task1/vtss/1_00001.vts
/tasks/task1/vtss/1_00002.vts
/tasks/task1/vtss/1_00003.vts
/tasks/task1/vtss/1_00004.vts
/tasks/task1/vtss/2_00000.vts
/tasks/task1/vtss/2_00001.vts
/tasks/task1/vtss/2_00002.vts
/tasks/task1/vtss/2_00003.vts
/tasks/task1/vtss/2_00004.vts
/tasks/task1/vtss/3_00000.vts
/tasks/task1/vtss/3_00001.vts
/tasks/task1/vtss/3_00002.vts
/tasks/task1/vtss/3_00003.vts
/tasks/task1/vtss/3_00004.vts
/tasks/task1/vtss/4_00000.vts
/tasks/task1/vtss/4_00001.vts
/tasks/task1/vtss/4_00002.vts
/tasks/task1/vtss/4_00003.vts
/tasks/task1/vtss/4_00004.vts
/tasks/task1/vtss/5_00000.vts
/tasks/task1/vtss/5_00001.vts
/tasks/task1/vtss/5_00002.vts
/tasks/task1/vtss/5_00003.vts
/tasks/task1/vtss/5_00004.vts
tasks/task0/__pycache__/task0_data.cpython-313.pyc
tasks/task1/__pycache__/task1_data.cpython-313.pyc
